html {
  font-family: "PT Sans", sans-serif;
}

.nav a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #ff0;
}

header {
  background-color: #ffbd00;
  position: relative;
}

.nav a:hover {
  background-color: #333;
  color: #ffbd00;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

section {
  background-color: #ffbd00;
  color: #fff;
  margin: 0;
}

.b1 {
  background-color: #f5f0f0;
}

main {
  background-color: #fff1c9;
}

.s1 {
  color: #fff1c9;
}

body {
  -webkit-font-smoothing: antialiased;
}

.span4 {
  width: 370px;
  float: left;
  min-height: 1px;
}

.price-plan {
  border-radius: 4px;
  padding: 40px 20px;
  box-shadow: 2px 2px;
}

.text-light {
  color: black;
}

.text-shadow-dark {
  text-shadow: 1px 1px;
}

.text-center {
  text-align: center;
}

a {
  border-radius: 2px;
  box-shadow: none;
  color: #000;
  text-decoration: none;
}

a:hover {
  background: #000;
}

.sign-in {
  background-color: black;
  color: #fff;
}

.btn-signin {
  background-color: green;
  color: #fff;
}

.sign-up-btn {
  background-color: #ffbd00;
  color: #000;
}

.grid-nav {
  background-color: #0b4048;
  color: #000;
}

p {
  color: #000;
}

strong {
  color: #000;
}

.list-group-inline {
  padding-top: 0;
  margin: 0;
  padding-bottom: 0;
  display: block;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.section-dark {
  background-color: #000308;
  color: #fff;
}

fieldset {
  color: #000;
}
